a {
    color: green;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
p {
    color: #751470;
}
li {
    background-color: lightblue;
    border: 1px solid blue;
}
table {
    background-color: lightsalmon;
    color: orangered;
    border: 3px solid darkred;
}
td{
    border: 3px solid black;
}