html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: lightgray;
    border-radius: 15px;
    padding: 30px;

    max-width: 600px;
    width: 100%;

    max-height: 900px;
    width: 100%;

    margin: auto;
    margin-top: 200px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.title-card {
    margin-bottom: 10px;
}

.title-card h1 {
    text-align: center;
    color: #0a0a0a;

    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.input-box {
    display: flex;
    justify-content: center;
    
    width: 300px;
    height: 30px;

    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;

    background: transparent;
    border: 2px solid rgba(255,255,255, .2);

    border-radius: 20px;
}